@model List<Biblioteca.Models.Livro>;

@foreach(Livro item in Model){
    <h1>Index de Biblioteca</h1>
    <p>Nome do Livro: @item.Titulo</p>
    <p>Número de páginas: @item.NumPaginas</p>
    <p>Autor: @item.Autor</p>
    <p>Gênero: @item.Genero</p>
    <p>Data de publicação: @item.DataPublicacao</p>
}
